[Unit]
Description=Painel da camera (HLS do MediaMTX) + camera na Sinric Pro
After=network-online.target mediamtx.service
Wants=network-online.target mediamtx.service

[Service]
Type=simple
User=raspberry
Group=raspberry

WorkingDirectory=/home/raspberry/camera-pi
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/raspberry/camera-pi/venv/bin/python /home/raspberry/camera-pi/camera_pi.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
